body {
    margin: 0;
    background-color: black;
}
aside {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 260px;
    height: 70px;
    z-index: 1;
    background-color: black;
    color: #CCCCCC;
    font-family: sans-serif;
    font-size: 13px;
}
aside a {
    color: #EEEEEE;
    text-decoration: underline;
}
